@page
@model AboutModel
@{
    ViewData["Title"] = "About Oranges and Lemons";
}
<div class="container">
    <div class="row">
        <div class="col-lg-7 col-sm-6">
            <div class="clearfix"></div>
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</div>


