body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.clear {
    width: 1%;
    display: table-cell;
    padding-left: 3px;
    vertical-align: middle;
}

table td {
    display: table-cell;
    vertical-align: top;
}

/* adding nth-child to boost specificity - its a thing */ 
.table-striped tbody tr.highlight:nth-child(odd) td {
    background-color: darkorange;
}
.table-striped tbody tr.highlight:nth-child(even) td {
    background-color: gold;
}

